* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 3.2rem;
}

#loader {
    display: none;
}

.the-type {
    font-size: 1.7rem;
    margin-bottom: 25px;
}

#new-dog-btn {
    padding: 10px 14px;
    font-size: 1.4rem;
    border: none;
    border-radius: 10px;
    outline: none;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#new-dog-btn:hover {
    background-color: #18d9ff;
    color: white;
    cursor: pointer;
}

.images {
    width: 250px !important;
    height: auto;
}


/* the loader style */

@keyframes ldio-ycw3gurqx8s {
    0% {
        opacity: 1;
        backface-visibility: hidden;
        transform: translateZ(0) scale(1.5, 1.5);
    }

    100% {
        opacity: 0;
        backface-visibility: hidden;
        transform: translateZ(0) scale(1, 1);
    }
}

.ldio-ycw3gurqx8s div>div {
    position: absolute;
    width: 19.200000000000003px;
    height: 19.200000000000003px;
    border-radius: 50%;
    background: #18d9ff;
    animation: ldio-ycw3gurqx8s 1s linear infinite;
}

.ldio-ycw3gurqx8s div:nth-child(1)>div {
    left: 118px;
    top: 70px;
    animation-delay: -0.875s;
}

.ldio-ycw3gurqx8s>div:nth-child(1) {
    transform: rotate(0deg);
    transform-origin: 127.60000000000001px 79.60000000000001px;
}

.ldio-ycw3gurqx8s div:nth-child(2)>div {
    left: 104px;
    top: 104px;
    animation-delay: -0.75s;
}

.ldio-ycw3gurqx8s>div:nth-child(2) {
    transform: rotate(45deg);
    transform-origin: 113.60000000000001px 113.60000000000001px;
}

.ldio-ycw3gurqx8s div:nth-child(3)>div {
    left: 70px;
    top: 118px;
    animation-delay: -0.625s;
}

.ldio-ycw3gurqx8s>div:nth-child(3) {
    transform: rotate(90deg);
    transform-origin: 79.60000000000001px 127.60000000000001px;
}

.ldio-ycw3gurqx8s div:nth-child(4)>div {
    left: 36px;
    top: 104px;
    animation-delay: -0.5s;
}

.ldio-ycw3gurqx8s>div:nth-child(4) {
    transform: rotate(135deg);
    transform-origin: 45.60000000000001px 113.60000000000001px;
}

.ldio-ycw3gurqx8s div:nth-child(5)>div {
    left: 22px;
    top: 70px;
    animation-delay: -0.375s;
}

.ldio-ycw3gurqx8s>div:nth-child(5) {
    transform: rotate(180deg);
    transform-origin: 31.60000000000001px 79.60000000000001px;
}

.ldio-ycw3gurqx8s div:nth-child(6)>div {
    left: 36px;
    top: 36px;
    animation-delay: -0.25s;
}

.ldio-ycw3gurqx8s>div:nth-child(6) {
    transform: rotate(225deg);
    transform-origin: 45.60000000000001px 45.60000000000001px;
}

.ldio-ycw3gurqx8s div:nth-child(7)>div {
    left: 70px;
    top: 22px;
    animation-delay: -0.125s;
}

.ldio-ycw3gurqx8s>div:nth-child(7) {
    transform: rotate(270deg);
    transform-origin: 79.60000000000001px 31.60000000000001px;
}

.ldio-ycw3gurqx8s div:nth-child(8)>div {
    left: 104px;
    top: 36px;
    animation-delay: 0s;
}

.ldio-ycw3gurqx8s>div:nth-child(8) {
    transform: rotate(315deg);
    transform-origin: 113.60000000000001px 45.60000000000001px;
}

.loadingio-spinner-spin-erf2eitafug {
    width: 160px;
    height: 160px;
    display: inline-block;
    overflow: hidden;
    background: rgba(NaN, NaN, NaN, 0);
}

.ldio-ycw3gurqx8s {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

.ldio-ycw3gurqx8s div {
    box-sizing: content-box;
}

/* generated by https://loading.io/ */